.backwardContainer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.triangleButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &.back .triangleBack {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #007aff;
  }

  &.active .triangleBack {
    transform: scale(0.95);
  }
}
